<div class="w-1/4 absolute inset-y-0 right-0 border-l border-gray-300">
    <div class="flex flex-col mx-5">
        <div class="mt-5">
            <span class="text-gray-700 font-semibold text-2xl">Balasan</span>
        </div>
        <div class="border-b border-gray-300 pb-2 flex items-center mt-5">
            <input class="w-full focus:outline-none" placeholder="Tulis balasan...">
            <img class="ml-2 w-5 h-5" src="assets/img/send.svg">
        </div>
        <div class="flex flex-col mt-4">
            <div class="flex flex-row items-center">
                <div class="w-10 h-10 rounded-full overflow-hidden">
                    <img src="assets/img/ava_placeholder.jpg" alt="Profile Image" class="w-full h-full object-cover">
                </div>
                <div>
                    <p class="text-sm font-medium ml-3">Christina</p>
                </div>
                <div>
                    <p class="text-xs text-gray-400 ml-3">12 Jan</p>
                </div>
                <div class="w-8 h-8 ml-auto">
                    <img src="assets/img/close.svg" alt="Close" class="w-full h-full object-cover">
                </div>
            </div>
            <div class="mt-2">
                <p class="text-gray-700 text-sm inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

    </div>
</div>