<div class="flex flex-col mt-10" *ngFor="let item of result">
  <!-- card head -->
  <div class="flex flex-row items-center">
    <div class="w-12 h-12 rounded-full overflow-hidden">
      <img src="assets/img/ava_placeholder.jpg" alt="Profile Image" class="w-full h-full object-cover">
    </div>
    <div>
      <p class="text-base font-medium ml-3">{{ item.user?.name }}</p>
    </div>
    <div>
      <p class="text-sm text-gray-400 ml-3">{{ item.tanggalPost| date : 'dd MMM'}} </p>
    </div>
    <div class="w-8 h-8 ml-auto cursor-pointer" *ngIf="item.user?.idUser == userId" (click)="deletePost(item.idPost )">
      <img src="assets/img/close.svg" alt="Close" class="w-full h-full object-cover">
    </div>
  </div>

  <!-- card body -->
  <div class="flex-auto flex-col">

    <div class="px-4 py-1 mt-3 bg-yellow-500 rounded-full inline-flex">
      <p class="text-xs text-white font-light">Peringkat 1</p>
    </div>
    <div class="mt-2">
      <p class="text-lg font-medium">{{ item.judulPost }}</p>
    </div>
    <div class="mt-1">
      <span [innerHTML]="hideDesk(item.deskripsi)">
      </span><a class="text-sm text-blue-500 inline cursor-pointer" routerLink="" (click)="detail(item.idPost)">Lihat
        semua</a>
    </div>
    <div class="w-auto h-72 rounded-md overflow-hidden mt-3">
      <img *ngIf="item.fotoKonten!=null" src="{{item.fotoKonten}}" alt="Profile Image"
        class="w-full h-full object-cover img-fluid">
      <img *ngIf="item.fotoKonten==null || item.fotoKonten==''" src="../../../assets/img/ava_placeholder.jpg"
        alt="Profile Image" class="w-full h-full object-cover img-fluid">
    </div>

  </div>

  <!-- card footer -->
  <div class="flex flex-col mt-3">
    <div class="flex flex-row space-x-3">
      <div (click)="showReplyPreview()" class="border border-gray-400 bg-gray-100 rounded-lg px-3 py-1 cursor-pointer">
        <img class="w-4 h-4 inline" src="assets/img/reply.svg">
        <span class="text-sm text-gray-400 inline ml-2">{{ item.listReply?.length }}</span>
      </div>

      <div class="border border-gray-400 bg-gray-100 rounded-lg px-3 py-1 cursor-pointer" (click)="isvote(item.idPost)">
        <img class="w-4 h-4 inline mb-1" src="assets/img/upvote.svg">
        <span class="text-sm text-gray-400 inline ml-2" [(ngModel)]="item.upvote">{{ item.upvote }}</span>
      </div>
    </div>
    <form class="border-b border-gray-300 pb-2 flex items-center mt-3" (submit)="addReply(item)">
      <input type="hidden" [(ngModel)]="reply.post" name="idPost">
      <input class="w-full focus:outline-none" placeholder="Tulis balasan..." [(ngModel)]="reply.comment" name="comment"
        [ngModelOptions]="{standalone: true}">
      <button type="submit">
        <img class=" ml-2 w-5 h-5 cursor-pointer" src="assets/img/send.svg"></button>
    </form>
  </div>

  <!-- replies -->

  <div *ngFor="let reply of item.listReply | slice:0:shownReplies" class="flex flex-row mt-2 items-start">
    <div class="flex">
      <div class="w-10 h-10 rounded-full overflow-hidden mt-2">
        <img src="assets/img/ava_placeholder.jpg" alt="Profile Image" class="w-full h-full object-cover">
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row items-center">
        <div>
          <span class="text-xs font-medium ml-3">{{ reply.user?.name }}</span>
        </div>
        <div>
          <span class="text-xs text-gray-400 ml-3">{{ reply?.tanggalReply| date : 'dd MMM'}}</span>
        </div>
        <div class="w-8 h-8 ml-auto cursor-pointer ">
          <img src="assets/img/close.svg" alt="Close" class="w-full h-full object-cover">
        </div>
      </div>
      <div class="ml-3 col-12">
        <p class="text-gray-700 text-sm inline">{{reply.comment}}</p>
      </div>
    </div>
  </div>

  <!-- Button expand -->
  <div (click)="showMoreReply()"
    class="cursor-pointer w-full rounded-md bg-gray-100 flex justify-center items-center py-3 mt-3"
    [ngClass]="{'hidden': !isReplyPreviewShown}">
    <span class="text-sm text-blue-400 font-medium">Balasan lain</span>
  </div>

  <!-- Button go to detail page -->
  <div (click)="navigateToDetailPost(item.idPost)"
    class="cursor-pointer w-full rounded-md bg-gray-100 flex justify-center items-center py-3 mt-3"
    [ngClass]="{'hidden': !isReplyPreviewMax}">
    <span class="text-sm text-blue-400 font-medium">Lihat semua</span>
  </div>
</div>
