<app-navbar class="w-full h-auto fixed"></app-navbar>
<div class="flex flex-row px-36 mt-16">
  <div class="flex flex-col w-2/3 h-auto overflow-y-auto pb-48 mr-20">
    <app-card-post class="mt-10"></app-card-post>
  </div>
  <div #sideBar [class.stuck]="isStuck"
    class="flex flex-col border border-gray-400 rounded-lg w-1/3 h-fit overflow-y-auto mt-10 mb-24 px-12 pt-10 pb-12">
    <div class="">
      <span class="text-gray-700 font-semibold text-2xl">Terpopuler</span>
    </div>
    <div class="flex flex-col mt-6 cursor-pointer" *ngFor="let item of result; index as i;"
      (click)="navigateToDetailPost(item.idPost)">
      <span class="text-base text-blue-400 font-medium">#{{ i+1}}</span>
      <p class="text-base text-gray-700 font-medium mt-1">{{ item.judulPost }}</p>
      <p class="text-sm text-gray-400 font-light mt-1">oleh {{ item.user!.name }}</p>
    </div>
  </div>
</div>
