<app-navbar></app-navbar>
<div class="container d-flex justify-content-center">
  <div class="col-sm-12 col-lg-8">
    <input type="text" class="title col-12 my-3" placeholder="Judul">
    <label for="input-img" class="col-12">
      <div class="card col-12 d-flex justify-content-center align-items-center"
        style="height: 300px; box-sizing: border-box !important; background-color: #F5F5F4;"
        *ngIf="upload==false;else uploadImg">
        <img src="../../../assets/img/camera.svg" class="img-fluid" height="50px" width="50px">
      </div>
    </label>
    <input type="file" multiple="multiple" accept=".png,.jpge/*" id="input-img" hidden name="imgFile"
      (change)="onFileChange($event)">
    <!-- <textarea name="deskripsi" id="" rows="12" class="my-3 rounded-3">
    </textarea> -->
    <div class="overflow-hidden my-3">
      <ckeditor #editor [editor]=" Editor" [config]="{ placeholder:'Masukkan idemu...',toolbar: [ ] }"
        aria-placeholder="asdjhiyu" class="my-3">
      </ckeditor>
    </div>
  </div>
</div>

<ng-template #uploadImg>
  <img [src]="ImageUrl" class="img-fluid col-12" style="height: 300px;">
</ng-template>
